@model IEnumerable<DBTester.Models.Profile>
@{
    ViewBag.Title = "Update";
}

<h2>AzImport Tools</h2>

<h3>AzImport Excel creator</h3>

<form asp-controller="AzImporter" asp-action="UpdateAzImportsExcel" method="post"
      enctype="multipart/form-data">

    <p>
        This application is intended to create an excel which will
        be able to take an excel from an Amazon report and return
        the items that are available in a spreadsheet.
    </p>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="ExcelTitle">Excel</label>
        </div>
        <div class="form-group col-md-12">
            <input type="file" class="form-control-file" name="file" required>
        </div>
        <div class="form-group col-md-12">
            <button class="form-control-file" type="submit">Upload File</button>
        </div>
    </div>

    <p>
        Last @ViewBag.Wholesalers database update <b>@ViewBag.TimeStamp Updated via  @ViewBag.type</b> <br />
    </p>
</form>


@*<form asp-controller="AzImporter" asp-action="UpdateAzImports" method="post"
      enctype="multipart/form-data">
   
    <p></p>

    <button class="btn btn-primary" type="submit">Update</button>

    <p>
        Last Fragrancex database update <b>@ViewBag.TimeStamp Updated via  @ViewBag.type</b> <br />
    </p>
</form>*@