@model IEnumerable<DBTester.Models.ServiceTimeStamp>
@{
    ViewBag.Title = "AzImport Update";
}

<head>
    <!-- DataTables -->
    <link href="~/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
</head>

<div class="row">
    <div class="col-xl-12">
        <div class="card ">
            <div class="card-body">
                <h2>AzImport Inventory Excel Importer</h2>

                <p>
                    This application is intended to create an excel which will
                    be able to take an excel from an Amazon report and return
                    the items that are available in a spreadsheet.
                </p>

                <div id="dropzone">
                    <form asp-controller="Home" asp-action="DropzoneFileUpload" asp-antiforgery="false"
                            class="dropzone" id="myAwesomeDropzone" enctype="multipart/form-data">
                        <div class="text-center m-t-15 invisible">
                            <input type="text" class="form-control" name="fileName" value="@ViewBag.ExcelGuid">
                        </div>
                        <div class="fallback">
                            Drop files here or click to upload.<br>
                            <input name="file" type="file" />
                        </div>
                    </form>
                </div>
                <form asp-controller="AzImporter" asp-action="UpdateAzImportsExcel" asp-antiforgery="false"
                        enctype="multipart/form-data">
                    <div class="text-center m-t-15 invisible">
                        <input type="text" class="form-control" name="file" value="@ViewBag.ExcelGuid">
                    </div>
                    <div class="text-center m-t-15">
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
<p>
    Last <b>@ViewBag.Wholesalers</b> database update <b>@ViewBag.TimeStamp Updated via  @ViewBag.type</b> <br />
</p>
<div class="row">
    <div class="col-md-12">
        <div class="card m-b-30">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th>Last Updated Date</th>
                                <th>Database Update Type</th>
                                <th>Wholesaler</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TimeStamp.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Wholesalers)
                                    </td>
                                </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>