@{
    ViewBag.Title = "Profile Viewer";
}

@using X.PagedList.Mvc.Core;
@using X.PagedList;

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Profile Viewer</h2>
<br />
<div class="table-responsive">
    <table id="myTable" class="display table" width="60%">
        <thead>
            <tr>
                <th>Profile User</th>
                <th>Items</th>
                <th>Profit</th>
                <th>Markdown</th>
                <th>Shipping</th>
                <th>Fee</th>
                <th>Min</th>
                <th>Max</th>
            </tr>
        </thead>
        @foreach (var profile in ViewBag.onePageOfProfiles)
        {
        <tbody>
            <tr>
                <td>
                    @profile.ProfileUser
                </td>
                <td>
                    @profile.items
                </td>
                <td>
                    @profile.profit
                </td>
                <td>
                    @profile.markdown
                </td>
                <td>
                    @profile.shipping
                </td>
                <td>
                    @profile.fee
                </td>
                <td>
                    @profile.min
                </td>
                <td>
                    @profile.max
                </td>
            </tr>
        </tbody>
        }
    </table>
</div>

@Html.PagedListPager((IPagedList)ViewBag.onePageOfProfiles, page => Url.Action("Profile", new { page }))

<script>
    $(document).ready(function () {
        $('#myTable').dataTable();
    });
</script>